/* columnTask.jsx */
.column-container {
  display: flex;
  justify-content: center;
  /* margin: 0 20px; */
  margin-bottom: 20px;
}
.column {
  background-color: #fafafa;
  border: 0.01rem solid #8d918d84;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  max-width: calc(100% / var(--days-to-display)-20px);
  width: 100%;
  min-height: 24rem;
  margin: 0 0.3rem;
  overflow: hidden;
}
.column-header {
  margin: 0.2rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.li-tasks {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.li-tasks:hover {
  .del-button {
    display: flex;
  }
}

/* task.jsx */
.task-container {
  display: flex;
  text-align: start;
  align-items: center;
  border-bottom: 0.08rem solid rgb(180, 180, 180);
  background-color: white;
  width: 95%;
  height: 30px;
  height: 100%;
  border-radius: 0.3rem;
  padding: 7px 25px 7px 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.task {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 0.9rem;
}
.todo-input {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 80px;
}
.task-container:hover {
  height: 100%;
}
.todo-select {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
}
.task-container:hover .task {
  white-space: normal; /* Permet au texte de se casser en plusieurs lignes */
}
input {
  border: none;
  /* border: 1 solid red; */
}
textarea {
  max-height: 150px;
  min-height: fit-content;
  max-width: 90%;
  min-width: 90%;
}
.input-name-task {
  display: flex;
  position: relative;
  align-items: center;
  background-color: white;
  border-bottom: 0.08rem solid rgb(49, 105, 145);
  border-radius: 0.1em;
  appearance: none;
  font-size: 0.9rem;
  outline: none;
  padding: 7px 10px;
  /* height: 30px; */
  /* height: 100%; */
  width: 80%;
}

Button {
  border: none;
}

.addButton::before {
  content: "";
}
.addButton {
  display: flex;
  border-radius: 0.3rem;
  border-bottom: 0.08rem solid rgb(180, 180, 180);
  background-color: white;
  width: 95%;
  height: 30px;
  height: 100%;
  padding: 15px 25px 15px 0;
  font-size: 0.9rem;
}
.addButton .focus-content {
  display: none;
  text-align: start;
  align-items: center;
  column-gap: 0.1rem;
}
.addButton:hover {
  background-color: rgba(217, 217, 217, 0.9);
  padding: 8px 25px 8px 8px;
  .focus-content {
    display: flex;
  }
}
.del-button {
  margin-left: 0.2rem;
  background-color: transparent;
  border: 0.1rem solid #929292;
  border-radius: 0.1rem;
  cursor: pointer;
  padding: 0;
  display: none;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0.3rem;
}
.del-button:hover {
  background: #cf352e;
  border-color: #cf352e;
  .hix-icon {
    color: white;
    transition: background 0.2s, stroke-dashoffset 0.3s;
  }
}

/* checkbox */

.checkbox {
  display: flex;
  margin-right: 0.3rem;
  cursor: pointer;
}

.checkbox:hover .checkbox_check {
  background: #37b2b2;
}

.checkbox_input {
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox_input:checked + .checkbox_check {
  background: #37b2b2;

  stroke-dashoffset: 0;
}

.checkbox_check {
  border: 0.1rem solid #929292;
  stroke: #f9f9f9;
  stroke-dasharray: 15;
  stroke-dashoffset: 15;
  stroke-linecap: round;
  stroke-width: 0.1em;
  border-radius: 0.1em;
  fill: none;
  transition: background 0.2s, stroke-dashoffset 0.3s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.today-button {
  border: 0;
  padding: 0.4rem;
  background-color: rgba(53, 178, 178, 0.9);
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
}
.today-button:hover {
  background-color: #35b2b2;
}
.paginations {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* margin: 0 20px; */
  /* margin-bottom: 0.5rem; */
  gap: 1rem;
}
.paginations div {
  display: flex;
}

.promodoro-container {
  background-color: #fafafa;
  border: 0.01rem solid #8d918d84;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  max-width: calc(100% / 3);
  width: 100%;
  min-height: 21rem;
  overflow: hidden;
}
