@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color-scheme: light light;
  color: #213547;
  background-color: #ffffff;
}

Button {
  border: none;
  white-space: nowrap;
}
html,
body {
  margin: 0;
  box-sizing: border-box;
  min-width: 100vw;
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
  text-align: center;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 10px;
}
h4 {
  font-size: 16px;
}
label {
  font-size: 1rem;
  margin-bottom: 0.1rem;
}

a {
  display: flex;
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
li {
  list-style-type: none;
}
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
input {
  border: none;
  padding: 0;
}
textarea {
  max-height: 150px;
  min-height: fit-content;
  max-width: 90%;
}
.ol-tasks {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  flex: 1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
