.container {
  margin-top: 2rem;
  height: 40vh;
  min-height: 400px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.MenuList {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.MenuList button {
  font-size: 0.9rem;
  padding: 0.4rem 1rem;
  height: 29px;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.activeMenuItem {
  background-color: rgba(53, 178, 178, 0.9);
  color: white;
}

.inactiveMenuItem {
  background-color: transparent;
  color: black;
}

.MenuList button:hover {
  background-color: rgba(200, 200, 200, 0.5);
}

.listsContainer {
  display: flex;
  flex: 1;
  overflow: hidden;
  margin-top: 0.5rem;
  border-top: 1px solid #ddd;
  border-radius: 0.1rem;
}

.taskList {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 1rem 0.5rem;
  border-right: 1px solid #ddd;
}
.taskListTitle {
  font-weight: 500;
  margin-bottom: 10px;
  text-align: start;
}

.taskListItems {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  row-gap: 10px;
}

.taskListEmpty {
  padding: 10px;
  text-align: center;
  color: #999;
  font-size: 0.9rem;
}
@media (max-width: 768px) {
  .listsContainer {
    flex-direction: column;
  }
}
